.navbar {
    position: sticky;
    width: 100%;
    background-color: rgba(100%, 83.1%, 70.6%, 0.75);
    top: -1px;
    z-index: 1;
    box-shadow: 0px 1px black;
    transition: background-color 1s;
}
.navbar:hover {
    background-color: rgba(100%, 83.1%, 70.6%, 1);
}
.navbar-content {
    font-family: "Verdana", sans-serif;
    position: relative;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    display: flex;
}
.circle {
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 20%);
}
.navbar-branding {
    display: flex;
    font-size: 1.5rem;
    width: 50%;
    align-content: center;
    justify-content: left;
    float: left;
}
.navbar-logo {
    padding: 1rem;
    float: left;
}
.navbar-text {
    float: right;
    padding: 0;
    margin: 0rem 1rem;
}

.menu {
    float: right;  
    width: 50%;
    height: 100%;
    position: relative;
}

.menu-button {
    position: relative;
    height: 50%;
	width: 25%;
    float: right;
	display: block;
}

.menu-content {
    display: none;
	overflow-x: wrap;
    width: 0%; height: 0%;
    padding: 0; margin: 0;
}
.menu-button:focus .menu-content {
    position: fixed;
    right: 0; top: 0;
    display: block;
    margin: 0;
    background-color: rgba(75%, 75%, 75%, 0.75);
    color: #000000;
    font-family: "Oxygen", "Helvetica", sans-serif;
    font-size: 1rem;
    height: 100%; width: 50%;
}

.menu-inner-button {
    top: 0; left: 0;
    background-color: rgba(100%, 100%, 100%, 0.75);
    width: 100%;
    display: block;
    padding: 1rem;
    color: #000000;
    font-style: normal;
    text-decoration: none;
}

.menu-inner-button:hover {
    background-color: rgba(75%, 75%, 75%, 0.75);
}

@media screen and (min-width: 700px) {
	html {
		font-size: 30px;
	}
    .menu-button {
        display: none;
    }
	.content-box {
		padding: 5rem;
		font-size: 1.5rem;
		line-height: 2rem;
	}
	.content {
		padding: 0 3rem;
	}
}

.banner {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0; padding: 0;
}

.banner-text-upper {
    font-family: 'Courgette', cursive;
    font-size: 4rem;
	font-weight: bold;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0.5rem;
}
.banner-text-lower {
    font-family: 'Courgette', cursive;
    font-size: 3rem;
	font-weight: bold;
    margin-top: 0;
    margin-left: 3rem;
    margin-bottom: 0.5rem;
    padding-top: 0;
    color: #ff0000;
    animation-name: moveInFromLeft;
    animation-duration: 2s;
}
.highlight {
	background-color: #000;
	color: #fff;
	display: inline-block;
	padding: 0.2rem;
	font-weight: bold;
}
.heading {
	height: 1.5rem;
	min-width: 1rem;
	max-width: 75%;
	display: block;
	font-size: 1.2rem;
	line-height: 1.5rem;
	border-bottom: 2px dashed #666;
}
.subheading {
	height: 1rem;
	font-size: 1rem;
	line-height: 1rem;
	display: block;
	padding: 0;
}

.tableofcontents {
	background-color: #eee;
	font-size: 1rem;
	padding: 1rem;
}
/* https://stackoverflow.com/questions/14138507/creating-table-of-contents-in-html */
/*.tableofcontents li {
	counter-increment: count;
}
.tableofcontents li::before {
	content: counters(count, counters(item, "."), ".")": ";
}
.tableofcontents ol {
	counter-reset: item 0;
}
.tableofcontents ol li {
	display: block;
}
.tableofcontents ol li::before {
	content: counters(item, ".")": ";
	counter-increment: item;
}*/
.quote::before {
	content: "\""
}
.quote::after {
	content: "\""
}
.quote {
	display: block;
	padding-left: 0.5rem;
	border-left: 2px solid #666;
	color: #666;
}
.content-box {
    /*padding: 5rem;*/
	border: 0.2rem solid #777777;
	padding-top: 5rem;
	padding: 1rem;
    font-family: "Oxygen", "Verdana", "Roboto", "Segoe UI", "San Franciso", "Ubuntu",  sans-serif;
    background-color: #ffffff;
    font-size: 1rem;
	line-height: 1.5rem;
}
.content {
    padding: 0rem 1rem;
    color: #222222;
    border-left: 5px solid #777777;
    z-index: 0;
}
.lead {
	font-size: 1.5rem;
	padding: 0.2rem;
}
.para {
	padding-bottom: 2rem;
	display: inline-block;
	word-break: break-word;
}
.container {
    position: absolute;
    height: 100%; width: 100%;
    top: 0; bottom: 0; right: 0; left: 0;  
    overflow: auto;
    margin: 0; padding: 0;
    background: linear-gradient(to bottom right, #ffd4b4 10%, #fff2ac);
}

@keyframes moveInFromLeft {
    from {
        margin-left: 300px;
    }
}
.footer-box {
    position: relative;
    width: 100%;
    margin: 0;
    font-family: 'Courgette', cursive;
}
.footer {
    padding-left: 1rem;
}
